<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BioGuard - Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .hidden { display: none; }
    </style>
</head>
<body>
    <div class="container">
        <h1>Login</h1>
        <div id="loginChoice">
            <button onclick="toggleLoginMethod(false)" class="btn btn-info">Traditional Login</button>
            <button onclick="toggleLoginMethod(true)" class="btn btn-secondary">Facial Recognition Login</button>
        </div>

        <div id="traditionalLoginFormDiv">
            <h2>Traditional Login</h2>
            <form id="traditionalLoginForm" action="{{ url_for('login') }}" method="POST">
                <input type="hidden" name="login_method" value="traditional">
                <div class="mb-3">
                    <label for="usernameTraditional" class="form-label">Username</label>
                    <input type="text" class="form-control" id="usernameTraditional" name="username" required>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>

        <div id="facialLoginFormDiv" class="hidden">
            <h2>Facial Recognition Login</h2>
            <form id="facialLoginForm" action="{{ url_for('facial_login') }}" method="POST">
                <button type="submit" id="startFacialRecognitionBtn" class="btn btn-primary">Start Facial Recognition</button>
            </form>
            <button onclick="toggleLoginMethod(false)" class="btn btn-link">Go Back to Traditional Login</button>
        </div>
        <div class="mt-4">
            <p>Don't have an account yet?</p>
            <a href="{{ url_for('register') }}" class="btn btn-success">Register Now</a>
        </div>
    </div>
    <script>
        function toggleLoginMethod(isFacial) {
            document.getElementById('traditionalLoginFormDiv').style.display = isFacial ? 'none' : 'block';
            document.getElementById('facialLoginFormDiv').style.display = isFacial ? 'block' : 'none';
            document.getElementById('loginChoice').style.display = isFacial ? 'none' : 'block';
        }
    </script>
</body>
</html>